.popover {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.popover .inner {
	background-color: #999;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.popover .inner form {
	display: flex;
	flex-direction: column;
}
